<app-cabecalho></app-cabecalho>

<main class="container">
  <section class="boas-vindas">
    <h2>{{ titulo }}</h2>

    <button class="btn-login" (click)="alterarLogin()">
      {{ usuarioLogado ? 'Sair da Conta' : 'Entrar na Conta' }}
    </button>

    @if (usuarioLogado) {
    <p class="mensagem-sucesso">Bem-vindo(a) de volta, ouvinte VIP!</p>
    } @else {
    <p class="mensagem-alerta">Faça login para salvar seus podcasts favoritos.</p>
    }
  </section>

  <section id="catalogo" class="catalogo">
    <app-card-item (aoSelecionar)="selecionarPodcast($event)"></app-card-item>
  </section>

  @if (podcastSelecionado) {
  <app-detalhes [item]="podcastSelecionado" (aoFechar)="limparSelecao()">
  </app-detalhes>
  }
</main>

<app-rodape></app-rodape>